<h1>TOKEN REFRESH</h1>
<p>Access Token: <span>{{data.access_token}}</span></p>
<p>Refresh Token: <span>{{data.refresh_token}}</span></p>
<p>API Domain: <span>{{data.api_domain}}</span></p>
<p>Token Type: <span>{{data.token_type}}</span></p>
<p>Expires In: <span>{{data.expires_in}}</span></p>

<a href="/refresh/{{data.refresh_token}}">REFRESH TOKEN</a>